<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons Page</title>
    <style>
        .button {
            background-color: lightblue;
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <!-- <button onclick="window.location.href='/index'">Go to Index</button> -->
    <h1>Big Buttons Page</h1>
    <button class="button" onclick="window.location.href='index'">Word to Sign</button>
    <button class="button" id="run-script-btn" onclick="window.location.href='video_feed'">Sign To Word 2</button>

</body>
</html>


<!-- C:/Users/Asus/Desktop/Project/Sign-Language-detection/test.py -->